{
  "interactionModel": {
    "languageModel": {
      "invocationName": "check for fires",
      "intents": [
        {
          "name": "AMAZON.CancelIntent",
          "samples": []
        },
        {
          "name": "AMAZON.HelpIntent",
          "samples": []
        },
        {
          "name": "AMAZON.StopIntent",
          "samples": []
        },
        {
          "name": "LocalFiresIntent",
          "slots": [],
          "samples": [
            "get local fires",
            "check for local fires",
            "check for fires in my area",
            "get fires in my area",
            "is there a fire near me"
          ]
        },
        {
          "name": "AllFiresIntent",
          "slots": [],
          "samples": [
            "get all fires",
            "check for all fires",
            "get fires in california",
            "get fires in the state"
          ]
        },
        {
          "name": "SelectFireIntent",
          "slots": [
            {
              "name": "Fire",
              "type": "LIST_OF_FIRES"
            }
          ],
          "samples": [
            "tell me about {Fire}",
            "get information about {Fire}",
            "what is {Fire}",
            "where is {Fire}"
          ]
        }
      ],
      "types": [
        {
          "name": "LIST_OF_FIRES",
          "values": []
        }
      ]
    }
  }
}
